<div id="ieWarning" class="warning nodisp">
    <h3>Browser Warning</h3>
    <p>IE and Edge have very poor performance with drag and drop interfaces, as well as very slow response times when apps make frequent server requests. These are two features Frogtown uses extensively, it is recommended you use a different browser when editing decks.</p>
    <a href="#" class="closePopup">Close Warning</a>
</div>
<div id="versionWarning" class="warning nodisp">
    <h3>Version Warning</h3>
    <p>Frogtown makes heavy use of the relatively new browser feature called "grid display" so it may not render properly on your browser. Please update your browser to use Frogtown as intended.</p>
    <a href="#" class="closePopup">Close Warning</a>
</div>