<%- include("../partials/page_header") %>
<div id="cardSearch">
    <div id="filterArea">
        <%- include("../partials/all_filters") -%>
    </div>
    <div id="cardArea" class="cardDisplay"></div>
</div>
<%- include("../partials/page_footer") %>
