<%- include("../partials/page_header") %>
<div class="centeredContent">
  <div class="infoSection">
    <div class="heading"><span class="title">Help</span></div>
    <div class="infoSectionBody">
      Join the <a href="https://discord.gg/Yv8kY2m">discord</a> if you want to chat or have any questions that aren't listed here.
    </div>
    <div class="subheading"><span class="title">FAQ</span></div>
    <div class="infoSectionBody">
      <h3>Q: When will X feature be added?</h3>
      <p>Honestly I haven't played MTG for a while so I'm only really doing maintenance on the site, but you can see the todo
        list on the <a href="https://trello.com/b/no6dDoSL/frogtown-public">trello board</a>. It's not always up to date, feel
        free to ask about specific features in discord.</p>
      <h3>Q: When will the cards from the new set be added?</h3>
      <p>New cards won't be added until they are available on <a href="https://scryfall.com/">scryfall.com</a>. Typically we
        wait for the entire set to be available in high quality, but we may change that to be more aggressive in the future.</p>
      <h3>Q: What is Tabletop Simulator and how do I use my exported decks?</h3>
      <p>Tabletop Simulator is a game you can find on steam. It doesn't provide any rules enforcement, but it is a great way to play magic.
        Save your generated decks to Documents\My Games\Tabletop Simulator\Saves\Saved Objects. In game you can click Objects at the top of
        the screen, choose Saved Objects, and then click your deck.</p>
    </div>
  </div>
</div>

<%- include("../partials/page_footer") %>
