<%- include("../partials/page_header") %>
<div class="centeredContent">
  <div class="infoSection">
    <div class="heading"><span class="title">Internship</span></div>
    <div class="infoSectionBody">
      <p>Frogtown is <span style="font-weight: bold">considering</span> starting a software engineering internship program. Internships are great for students, they will:</p>
      <ul>
        <li>Establish a foundation for your career</li>
        <li>Build your resume</li>
        <li>Build your professional network</li>
        <li>Earn you money</li>
      </ul>
      <p>If you are interested in a career in software engineering, whether you're in college
        or making a career change, an internship will help you. Search for local internships with your
        university, and also apply to companies you know of with travel internships:</p>
      <ul>
        <li><a href="https://careers.google.com/students/">Google</a></li>
        <li><a href="https://www.facebook.com/careers/students-and-grads/?p[teams][0]=Internship%20-%20Engineering%2C%20Tech%20%26%20Design&p[teams][1]=Internship%20-%20Business&p[teams][2]=Internship%20-%20PhD&p[teams][3]=University%20Grad%20-%20PhD%20%26%20Postdoc&p[teams][4]=University%20Grad%20-%20Engineering%2C%20Tech%20%26%20Design&p[teams][5]=University%20Grad%20-%20Business&teams[0]=Internship%20-%20Engineering%2C%20Tech%20%26%20Design&teams[1]=Internship%20-%20Business&teams[2]=Internship%20-%20PhD&teams[3]=University%20Grad%20-%20PhD%20%26%20Postdoc&teams[4]=University%20Grad%20-%20Engineering%2C%20Tech%20%26%20Design&teams[5]=University%20Grad%20-%20Business">Facebook</a></li>
        <li><a href="https://careers.microsoft.com/students/us/en/usuniversityinternship">Microsoft</a></li>
        <li><a href="https://www.apple.com/jobs/us/students.html">Apple</a></li>
        <li><a href="https://epic.avature.net/Careers/talentCommunity">Epic (the healthcare company)</a></li>
        <li><a href="https://www.epicgames.com/site/en-US/students">Epic (the fornite company)</a></li>
      </ul>
      <p>It's important that you first apply to established programs like these, but if you're also
        interested in working with frogtown then drop by the <a href="https://discord.gg/6vtGvGE" target="_blank">#internship channel of our discord server</a> and
        say hello! We'll only run the program if there is enough interest, so please come introduce
        yourself. </p>
    </div>
    <div class="subheading"><span class="title">What to Expect</span></div>
    <div class="infoSectionBody">
      <p>Internships are an early step in your career, but not your first. Ideally you start searching for
        an internship after your second year of a four year program. Here are a few of the areas that you
        should focus on prior to your internship:</p>
      <ul>
        <li>Basic understanding of algorithms</li>
        <li>Basic understanding of data structures</li>
        <li>Working knowledge of at least one programming language</li>
        <li>Completion of at least one small project</li>
        <li>Have a good resume</li>
      </ul>
      <p>It's okay if you don't feel overly confident that you fit all of these expectations, the point of
        an internship program is for us to invest in you. The specifics will change based on feedback, but
        the program will likely consist of one medium sized project over the course of 3 to 6 weeks. Based
        on your existing experience you will spend the first portion of your time learning about new
        technologies, and the rest designing and implementing your project. You'll be expected to work 10
        to 20 hours per week, with a pay around $15 per hour. </p>
      <p>The program would take place in the summer of 2021, and you'll know if the program is accepting
        applications or not by December 1st, 2020.</p>
    </div>
    <div class="subheading"><span class="title">Your Project</span></div>
    <div class="infoSectionBody">
      <p>There are no real restrictions on the project you work on, if there is something that interests you
        and would be valuable to your career then we can make it work. Here are some project ideas that we
        can start from if you don't have your own:</p>
      <ul>
        <li>Expand existing frogtown features, such as better automatic token assignment, or supporting languages other than english.<div class="hint">this will make our community members happy</div></li>
        <li>Develop an automated testing infrastructure to find bugs before they get to production.<div class="hint">this will look very good on your resume</div></li>
        <li>Implement a machine learning model to suggest cards matching peoples decks.<div class="hint">this will look very good on your resume, and be very hard</div></li>
        <li>Create an account system that allows users to recover decks when they lose access to their private id.<div class="hint">this will make our community members happy</div></li>
      </ul>
    </div>
    <div class="subheading"><span class="title">Funding</span></div>
    <div class="infoSectionBody">
      <p>If I decide to move forward with this program, then I (frogtown matt) will pay the intern out of my own pocket.
        I will open up a donation service for community members to contribute to the intern fund, but the
        intern will get paid whether or not we recieve donations. I expect our intern to not produce
        significant output, so if you decide to contribute it should be out of the goodness of your heart,
        you shouldn't expect any specific projects to be completed that will benefit you.</p>
    </div>
  </div>
</div>

<%- include("../partials/page_footer") %>
