<%- include("../partials/page_header") %>
<div class="centeredContent">
  <div class="infoSection">
    <div class="heading"><span class="title">Perf Monitor</span></div>
    <div class="infoSectionBody">
      <div id="divPerfData"></div>
    </div>
    <div class="subheading"><span class="title">test</span></div>
    <div class="infoSectionBody">
      <div>test</div>
    </div>
  </div>
</div>

<%- include("../partials/page_footer") %>
