<%- include("../partials/page_header") %>
<div class="centeredContent">
  <div class="infoSection">
    <div class="heading"><span class="title">Privacy</span></div>
    <div class="infoSectionBody">
      <h3>Last updated January 3rd, 2020</h3>
      <p>Frogtown takes privacy very seriously by only logging information required to operate the site. We aren't trying to
        make money off of anybody, we don't serve ads, and we don't sell data.</p>
    </div>
    <div class="subheading"><span class="title">What data is collected?</span></div>
    <div class="infoSectionBody">
      <h3>Private ID</h3>
      <p>Instead of authenticating users with usernames, frogtown authenticates users with a randomly assigned ID. Your ID
        is stored in your browser as a cookie so we can maintain your deck list across sessions. See the
        <a href="/settings.html">settings</a> page for more info.</p>
      <h3>IP Address</h3>
      <p>When you enable the "High Quality Assets" feature on the <a href="/settings.html">settings</a> page we store your
        IP address so that we can serve the right assets to you when you load cards in tabletop simulator.</p>
      <p>If you never enable the feature we never log your IP address, if you disable the feature we remove your IP address.</p>
      <h3>Google Analytics</h3>
      <p>We use google analytics to know how many people are using the site and how they got
        <a href="https://policies.google.com/technologies/partner-sites">here</a>. Learn about the data Google Analytics collects
        and consumes here. "Ad Personalization" is disabled for Frogtown, we don't serve ads or contribute to advertising profiles.</p>
    </div>
    <div class="subheading"><span class="title">Cookies</span></div>
    <div class="infoSectionBody">
      <h3>Private ID</h3>
      <p>Instead of authenticating users with usernames, frogtown authenticates users with a randomly assigned ID. Your ID
        is stored in your browser as a cookie so we can maintain your deck list across sessions. See the
        <a href="/settings.html">settings</a> page for more info.</p>
      <h3>IP Address</h3>
      <p>Every site on the planet uses cookies. The cookie feature has been baked into the HTTP protocol and web browsers
        for <a href="https://tools.ietf.org/html/rfc2109">millenia</a>. Laws requiring posted warning about cookies are stupid.</p>
      <p>Frogtown uses cookies for the reasons above, you can
        <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en">turn them off</a> but your
        decks will not persist between visits to the site.</p>
    </div>
  </div>
</div>

<%- include("../partials/page_footer") %>
