<%- include("../partials/page_header") %>
<div class="centeredContent">
  <div class="infoSection">
    <div class="heading"><span class="title">Tools</span></div>
    <div class="infoSectionBody">
      <div>
        <h3>How to update cards.</h3>
        <ol>
          <l1><span style="font-weight: bold;">Do this on a machine with >2GB ram, not on a docker deployment.</span></l1>
          <li>Download new all cards file. It will potentially take up to 30 minutes for S3 to recognize the upload, wait until the S3 change date is what you expect.</li>
          <li>Generate new data maps. Refresh to see the new image stats.</li>
          <li>Update images.</li>
          <li>Increment image version to invalidate client caches.</li>
          <li>Download any new set SVGs that are available.</li>
        </ol>
      </div>
    </div>
    <div class="subheading"><span class="title">Data Maps</span></div>
    <div class="infoSectionBody">
      <div id="divAllCardsInfo">
        <!-- This element is generated dynamically, this is stub content while the real content loads -->
        <span>
          AllCards file updated
          <span class="inlinedata">....................................</span>,
          with last change made
          <span class="inlinedata">....................................</span>.
          New file available with change made
          <span class="inlinedata">....................................</span>.
          S3 version updated
          <span class="inlinedata">....................................</span>
        </span>
      </div>
      <div>
        <button id="btnUpdateAllCardsFile">Update All Cards File</button>
      </div>
      <div>
        <div id="divUpdateAllCardsProgress"></div>
      </div>
      <div></div>
      <div id="divDataMapsInfo">
        <!-- This element is generated dynamically, this is stub content while the real content loads -->
        <span>
          Data maps updated
          <span class="inlinedata">....................................</span>,
          with last change made
          <span class="inlinedata">....................................</span>.
          New file available with change made
          <span class="inlinedata">....................................</span>
        </span>
      </div>
      <div>
        <button id="btnUpdateDataMaps">Update All Data Maps</button>
      </div>
      <div>
        <div id="divUpdateDataMapsProgress"></div>
      </div>
    </div>
    <div class="subheading"><span class="title">Card Images</span></div>
    <div class="infoSectionBody">
      <div id="divCardImageInfo">
        <!-- This element is generated dynamically, this is stub content while the real content loads -->
        <span>
          Card images last updated 
          <span class="inlinedata">....................................</span>,
          with 
          <span class="inlinedata">x Missing</span>,
          <span class="inlinedata">x With No Image</span>,
          <span class="inlinedata">x Low Quality</span>, and 
          <span class="inlinedata">x High Quality</span>. There are
          <span class="inlinedata">x HQ available</span> cards, and
          <span class="inlinedata">x LQ available</span> cards, and
          <span class="inlinedata">x Placeholder</span> cards.
        </span>
      </div>
      <div>
        <button id="btnDownloadSomeCards">Download 1,000 Cards</button>
      </div>
      <div>
        <div id="divUpdateImagesProgress"></div>
      </div>
      <div id="divCardImageVersionInfo">
        <span>Card image version
          <span class="inlinedata">...</span>,
          last updated
          <span class="inlinedata">....................................</span>.
        </span>
      </div>
      <div>
        <button id="btnIncrementImageVersion">Increment Image Version</button>
      </div>
    </div>
    
    <div class="subheading"><span class="title">Set SVGs</span></div>
    <div class="infoSectionBody">
      <div id="divCardImageInfo">
        <span>
          There are 
          <span id="spanMissingSetSVGs" class="inlinedata">x Missing</span> set SVGs.
        </span>
      </div>
      <div>
        <button id="btnDownloadSVGs" disabled>Download SVGs</button>
      </div>
    </div>

    <div class="subheading"><span class="title">Clear Image Info</span></div>
    <div class="infoSectionBody">
      <div id="divCardImageInfo">
        <div>Sets to clear:</div>
        <div>
          <textarea id="textareaSetsToClear"></textarea>
        </div>
      </div>
      <div>
        <button id="btnClearSetImages">Clear Image Info</button>
      </div>
    </div>

    <div class="infoSectionBody">
      <div id="divCardImageInfo">
        <div>Card IDs to clear:</div>
        <div>
          <textarea id="textareaCardIDsToClear"></textarea>
        </div>
      </div>
      <div>
        <button id="btnClearCardIDImages">Clear Image Info</button>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/page_footer") %>
