.glyphicon-refresh{
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


span.glyphicon.Red{color: red;}
span.glyphicon.Blue{color: blue;}
span.glyphicon.Green{color: green;}
span.glyphicon.Black, span.caret.Black{color: black;}
span.glyphicon.White{color: lightgrey;}
span.glyphicon.TrueWhite, span.caret.TrueWhite{color: white;}

.issue > h2{
  font-size: 18px;
}

.nodisp{
  display: none !important;
}

.header{
  background-color: #303b4c;
  height: 64px;
  padding-top: 16px;
  padding-left: 8px;
  flex-shrink: 0;
}

.header > a{
  font-size: 24px;
  margin: 16px;
  color: #aaaaaa;
}

.header > a.active, .header > a:hover{
  color: #ffffff;
}

.header > a:hover{
  text-decoration: underline;
}

.btn-mydecks, .btn-mydecks:hover{
  background-color: transparent;
  color: #aaaaaa;
  vertical-align: middle;
  font-size: 24px;
  padding:  0;
}

.btn-mydecks.active, .btn-mydecks.active:hover{
  color: white;
}

.centeredContent{
  width: 800px;
  margin: auto;
  height: 100%;
}

.infoSection{
  position: relative;
  top: 30px;
  background-color: white;
  border: 1px solid gray;
  font-size: 16px;
  margin-bottom: 50px;
}

.infoSection > .heading{
  margin-top: 20px;
  background-color: lightgray;
  padding: 10px 0 5px 0;
}

.infoSection > .heading > .title{
  font-size: 24px;
  padding: 0 0 0 30px;
}

.infoSection > .subheading{
  padding: 5px 0 5px 0;
}

.infoSection > .subheading{
  background-color: teal;
  color: white;
}

.infoSection > .subheading.error{
  background-color: lightcoral;
  color: #400000;
}

.infoSection > .subheading > .title{
  font-size: 18px;
  padding: 0 0 0 12px;
}

.infoSection > .infoSectionBody{
  padding: 10px 50px;
  line-height: 28px;
}

.hint{
  font-size: 12px;
  color: darkgray;
}

.inlinedata{
  border-radius: 15px;
  padding: 4px;
  background-color: darkslateblue;
  color: white;
  white-space: nowrap;
}

button[disabled] {
  cursor: not-allowed;
}

.horizontalCardStack {
  display: inline-block;
  width: 172px;
  height: 155px;
  position: relative;
  margin-top: 10px;
}

.horizontalCardStack > .cardSprite:nth-child(1) {
  transform: rotate(-15deg);
  position: absolute;
  top: 10px;
  left: 15px;
}

.horizontalCardStack > .cardSprite:nth-child(2) {
  position: absolute;
  left: 40px;
}

.horizontalCardStack > .cardSprite:nth-child(3) {
  position: absolute;
  left: 60px;
  top: 10px;
  transform: rotate(15deg);
}

.horizontalCardStack > .cardSprite {
  border-radius: 5px;
}

#deckDropdown {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 800px;
  padding: 0 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tbDeck {
  position: relative;
  width: 220px;
  height: 160px;
  border: 3px solid #303b4c;
  border-radius: 6px;
  display: inline-block;
  color: white;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 4px;
}

.tbDeck * {
  pointer-events: none;
}

.full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cardBg {
  background-position: -24px -44px;
  background-size: 269px 375px;
}

.tbDeckFolder .cardBg.full {
  background-image: url(/icons/folder.png);
  background-size: unset;
  background-repeat: no-repeat;
  background-position: 10px 0px;
}

.nostarDeck .cardBg.full {
  background-image: url(/icons/folder.png);
}

.tbDeckFolder .highlight {
  opacity: 0;
}

.gradiant {
    background: linear-gradient(0deg, black, transparent);
}
.tbDeck:hover .gradiant {
    background: linear-gradient(0deg, #000630, transparent);
}

.cardcount{
  padding-left: 10px;
  color: #242424;
  font-size: 18px;
  margin-top: -2px;
}

.highlight {
  opacity: 0.5;
  background-color: white;
  height: 20px;
}

.metarow {
  width: 100%;
  position: absolute;
  top: 3px;
}

.colors {
  text-align: right;
  position: relative;
  right: 5px;
  top: 4px
}

.colors > * {
  display: inline-block;
  width: 20px;
  height: 15px;
  transform: skew(20deg);
  border: 1px solid;
  margin-left: 3px;
}

.tbDeck-red {
  background: linear-gradient(90deg, #d04035, #2e0f05);
  border-color: #48190a;
}

.tbDeck-black {
  background: linear-gradient(90deg, #3a3b30, #000000);
  border-color: #000000;
}

.tbDeck-green {
  background: linear-gradient(90deg, #6dab6c, #1d2016);
  border-color: #1d2016;
}

.tbDeck-blue {
  background: linear-gradient(90deg, #3d8acb, #272c40);
  border-color: #272c40;
}

.tbDeck-white {
  background: linear-gradient(90deg, #e2ddbf, #3e3f2b);
  border-color: #3e3f2b;
}

.tbDeckName {
  display: block;
  width: calc(100% - 10px);
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.infoBubble{
  display: inline-block;
  font-size: 18px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 22px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#debugBanner {
  position: absolute;
  right: 17px;
  top: 11px;
  color: black;
  font-size: 24px;
  background-color: pink;
  padding: 5px;
  border-radius: 4px;
}